@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import 'react-datepicker/dist/react-datepicker.css';

:root {
  --black1: rgba(0, 0, 0, 25%);
  --black2: rgba(0, 0, 0, 8%);
  --black: rgb(36, 47, 70);
  --gray: rgb(153, 153, 153);
  --white: rgb(255, 255, 255);
  --white1: rgb(246, 249, 250);
  --white2: rgba(153, 153, 153, 15%);
  --white3: rgba(255, 255, 255, 50%);
  --transition-duration: 200ms;
  --shadow: 0 3px 8px var(--black2);
  --blue: rgb(37, 118, 248);
  --blue1: rgba(37, 118, 248, 75%);
  --blue2: rgba(37, 118, 248, 10%);
  --red: rgb(255, 72, 72);
  --red1: rgba(255, 72, 72, 75%);
  --green: rgb(40, 223, 153);

  --radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--white1);
}

.container {
  transform: translateX(900px);
  display: flex;
}

/* DatePicker */
.react-datepicker {
  font-family: 'Poppins', sans-serif !important;
  font-size: rem !important;
  font-weight: 500 !important;
  background-color: var(--white) !important;
  color: var(--black) !important;
  border: 1px solid var(--black2) !important;
  border-radius: 12px !important;
  box-shadow: var(--shadow) !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  background: none !important;
  border-bottom: 1px solid var(--black2) !important;
  border-top-left-radius: none !important;

  position: relative;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: var(--black) !important;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0.125rem;
}

.react-datepicker__day-name {
  font-weight: 700;
}

.react-datepicker__month {
  margin: 0.5rem !important;
  text-align: center;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0.125rem;
  color: var(--black1);

  border-radius: var(--radius);
  transition: ease var(--transition-duration);
}

.react-datepicker__day:hover,
.react-datepicker__time-name:hover {
  background-color: var(--black2);
  border-radius: 50%;
}

.react-datepicker__day--selected {
  border-radius: 50%;
  background-color: var(--blue);
  color: #fff;
  transition: ease var(--transition-duration);
}
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: var(--radius);
  background-color: var(--blue);
  color: #fff;
  transition: ease var(--transition-duration);
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: var(--blue);
  border-radius: 50%;
  color: var(--white);
}

.react-datepicker__day-name {
  color: var(--black);
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: 500;
}

.react-datepicker__navigation {
  top: 0.5rem;
}

.react-datepicker__day--disabled {
  color: var(--black2);
  cursor: not-allowed;
}
