.menu {
  position: relative;
  display: inline-block;
}

.button {
  width: 48px;
  height: 48px;

  border: none;
  background: none;
  transition: ease var(--transition-duration);
  border-radius: 50%;
  cursor: pointer;
  color: var(--black);
}

.button:hover {
  background-color: var(--white2);
}

.button svg {
  width: 24px;
  height: 24px;
  color: var(--black);
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  width: 24rem;
  height: 24rem;
  background-color: var(--white);
  position: absolute;
  right: 0;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 2px solid var(--black2);
}

/* .list::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  right: 0;
  transform: translateX(-16px);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--white);
} */

.title {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem 0;
  padding-left: 1rem;
  color: var(--black);
  border-bottom: 1px solid var(--black2);
}

.container {
  width: 95%;
}
